lab7/LB-7B-WF/LB-7B-WF/Connected Services/ContactsServiceReference/ContactsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://stasyan.by/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://stasyan.by/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://stasyan.by/">
      <s:element name="GetPhoneContacts">
        <s:complexType />
      </s:element>
      <s:element name="GetPhoneContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhoneContactsResult" type="tns:ArrayOfPhoneContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPhoneContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhoneContact" nillable="true" type="tns:PhoneContact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhoneContact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneContact" type="tns:PhoneContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddContactResult" type="tns:ArrayOfPhoneContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneContact" type="tns:PhoneContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateContactResult" type="tns:ArrayOfPhoneContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveContactResult" type="tns:ArrayOfPhoneContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPhoneContactsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhoneContacts" />
  </wsdl:message>
  <wsdl:message name="GetPhoneContactsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhoneContactsResponse" />
  </wsdl:message>
  <wsdl:message name="AddContactSoapIn">
    <wsdl:part name="parameters" element="tns:AddContact" />
  </wsdl:message>
  <wsdl:message name="AddContactSoapOut">
    <wsdl:part name="parameters" element="tns:AddContactResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateContactSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateContact" />
  </wsdl:message>
  <wsdl:message name="UpdateContactSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveContactSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveContact" />
  </wsdl:message>
  <wsdl:message name="RemoveContactSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveContactResponse" />
  </wsdl:message>
  <wsdl:portType name="ContactsServiceSoap">
    <wsdl:operation name="GetPhoneContacts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all contacts</wsdl:documentation>
      <wsdl:input message="tns:GetPhoneContactsSoapIn" />
      <wsdl:output message="tns:GetPhoneContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add phone contact</wsdl:documentation>
      <wsdl:input message="tns:AddContactSoapIn" />
      <wsdl:output message="tns:AddContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update phone contact</wsdl:documentation>
      <wsdl:input message="tns:UpdateContactSoapIn" />
      <wsdl:output message="tns:UpdateContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveContact">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Remove phone contact</wsdl:documentation>
      <wsdl:input message="tns:RemoveContactSoapIn" />
      <wsdl:output message="tns:RemoveContactSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactsServiceSoap" type="tns:ContactsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhoneContacts">
      <soap:operation soapAction="http://stasyan.by/GetPhoneContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <soap:operation soapAction="http://stasyan.by/AddContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://stasyan.by/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveContact">
      <soap:operation soapAction="http://stasyan.by/RemoveContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContactsServiceSoap12" type="tns:ContactsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhoneContacts">
      <soap12:operation soapAction="http://stasyan.by/GetPhoneContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <soap12:operation soapAction="http://stasyan.by/AddContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap12:operation soapAction="http://stasyan.by/UpdateContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveContact">
      <soap12:operation soapAction="http://stasyan.by/RemoveContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactsService">
    <wsdl:port name="ContactsServiceSoap" binding="tns:ContactsServiceSoap">
      <soap:address location="http://localhost:64588/ContactsService.asmx" />
    </wsdl:port>
    <wsdl:port name="ContactsServiceSoap12" binding="tns:ContactsServiceSoap12">
      <soap12:address location="http://localhost:64588/ContactsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>